* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	font-family: "Roboto", sans-serif;
	margin: 0 auto;
}

img {
	max-width: 100%;
}

.container-title i {
	display: none;
}

header {
	display: flex;
	align-items: center;
	padding: 30px;
	justify-content: center;
}

.container-title {
	font-family: math;
	padding: 30px;
	background-color: rgb(221 221 221);
	margin-bottom: 50px;
	color: #222;
    font-size: 28px;
    text-align: center;
}

main {
	display: flex;
	gap: 30px;
	margin-bottom: 80px;
	margin: 0;
}

.carouselExampleCaptions {
	background-color: #f7f7f9;
	flex: 1;
	height: 50%;
}

.container-info-product {
	flex: 1;
	display: flex;
	flex-direction: column;
}

.container-price {
	padding-bottom: 20px;
	border-bottom: 1px solid #e4e4e4;
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.container-price span{ 
    font-size: 26px;
}

.container-description, .container-additional-information{
	display: flex;
	flex-direction: column;
	border-bottom: 1px solid #e4e4e4;
	padding: 10px 22px 0px 0px;
}

.title-description, .title-additional-information {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.title-description h4, .title-additional-information h4 {
	color: #666;
	font-size: 16px;
    margin-top: 20px;
}

.text-description, .text-additional-information {
	font-size: 16px;
    color: #000000;
    line-height: 19px;
    margin-top: 18px;
    font-family: "Roboto", sans-serif;
}

.text-additional-information h4{
    margin-top: 18px;
    color: #666;
    font-size: 16px;
    font-family: system-ui;
}

.container-social {
	display: flex;
	justify-content: space-between;
	padding: 15px 0;
	align-items: center;
	border-bottom: 1px solid #e4e4e4;
    margin-top: 118px;
}

.container-social span {
    font-weight: 700;
}

.container-button-social a {
    color: #000000;
    padding: 4px;
}

@media screen and (min-width: 360px) and (max-width: 1080px) {

	.container-title {
		font-size: 20px;	
	}

	main{
		flex-direction: column;
	}

	.container-info-product {
		margin: 2px;
	}

	.container-description{
		padding: 8px 0px 0px 8px;
		border-bottom: none;
	}

	.container-price span {
		margin-inline: 7px;
	}

	.container-social{
		margin-top: 67px;
		border-bottom: none;
	}

	.container-additional-information{
		padding: 0px;
		border-bottom: none;
	}
}

@media screen and (min-width: 880px) {
    .container-title i{
		top: 31px;
		display: block;
    	position: fixed;  
    	left: 15px; 
    	font-size: 37px;
    	text-decoration: none;
    	color: #2b2b2b9e;
    	background: none; 
    	border: none;
    	cursor: pointer; 
    }
}