.contact {
    width: 80vw;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #ffffff;
    margin: 10%;
    margin-top: 5%;
    margin-block-end: auto;
    font-size: 17px;
    font-weight: 400;
    font-family: "Roboto", sans-serif;
}

.contact-img-wrapper {
    height: 100%;
    width: 50%;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}

.contact-img-wrapper img {
    width: 100%;
}

.contact-right-side {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    padding: 6.5%;
    width: 50%;
}

.contact-title {
    font-size: 70px;
    font-family: 'Times New Roman', Times, serif;
    font-weight: 400;
    margin-bottom: 70px;
    text-transform: uppercase; 
}

.contact-form-wrapper .contact-input{
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    width: 100%;
}

input{
    border: 2px solid #000000;
    width: 100px;
    min-width: 255px;
    max-width: 400px;
    height: 16px;
    background: white;
}

.contact-input input {
    margin: 20px;
    outline: none;
    padding: 5px 0;
    border-bottom: 2px solid black;
    border-top: none;
    border-left: none;
    border-right: none;
    
}

.contact-input textarea {
    height: 70px;
    outline: none;
    padding: 5px 0;
    border-bottom: 2px solid black;
    border-top: none;
    border-left: none;
    border-right: none;
    width: 86%;
    color: black;
    background-color: transparent;
    margin-inline: 8%;
}

.button-container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-top: 13%;
    font-size: 15px;
}

.button-delete {
    cursor: pointer;
    width: 40%;
    height: 26px;
    color: #000000;
    border-radius: 10px;
    font-weight: 700;
}

.button-submit {
    cursor: pointer;
    width: 40%;
    height: 26px;
    color: #000000;
    border-radius: 11px;
    font-weight: 700;
}

.button-delete:hover{
    background-color: red;
    color: #ffffff;
}

.button-submit:hover {
    background-color: rgb(1, 168, 1);
    color: #ffffff;
}

.select-container{
    margin-top: 28px;
}

.select-container select{
    height: 20px;
    width: 107px;
    box-shadow: 2px 1px 2px 2px black;
    font-size: 15px;
}

.container {
    margin-top: 29px;
}

input[type="radio"]{
    display: none;
}

.label-container{
    position: relative;
    color: #000000;
    font-size: 15px;
    border: 2px solid #0000ff00;
    border-radius: 5px;
    padding: 0px 22px;
    display: flex;
    align-items: center;
}

.label-container:before {
    content: "";
    height: 12px;
    width: 12px;
    border: 2px solid #000000a6;
    border-radius: 50%;
    margin-right: 20px;
}

.radio-container {
    padding: 9px;
}

input[type="radio"]:checked + label:before {
    background-color: rgb(1, 168, 1);
}

@media screen and (min-width: 360px) and (max-width: 768px) { 
    .galeria-container .galeria-img-container img {
        border-radius: 0px;
        box-shadow: inset 0px 0px 20px 13px rgb(0 0 0 / 57%);
    }

    .galeria-container {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }

    .galeria-img-container {
        width: 100%;
    }

    .contact-right-side {
        display: flex;
        align-items: center;
        flex-direction: column;
    }

    .contact {
        display: flex;
        margin: 10%;
        flex-direction: column;
    }

    .contact-title {
        font-size: 26px;
        margin-bottom: 36px;
    }

    .contact-img-wrapper img {
        display: none;
    }
}

@media screen and (min-width: 768px) and (max-width: 1024px) {
    .contact-title {
        font-size: 40px;
    }
}