footer {
    background-color: #3c3c3c;
    color: #fff;
    text-align: center;
    padding: 5px 0;
    width: 100%;
    font-size: 22px;
    font-weight: 500;
    margin-bottom: 0rem;
}

footer p{
    font-family: sans-serif;
    margin-top: 60px;
}